VITE_PINCODE_RES_ID=<IndiaPostResourceId>
VITE_PINCODE_APIKEY=<IndiaPostAPIKey>
VITE_PINCODE_BASEURL=<IndiaPostBaseUrl>
VITE_API_BASE_URL=<APIBaseUrl>
VITE_API_REGION=<AWSRegion>
VITE_API_IDPOOL=<AWSIdentityPoolId>