#root {
  min-height: 100vh;
  width: 100%;
  color: var(--normal-color);
  background-color: var(--normal-bg);
  font-family: var(--font-english);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
