@import "tailwindcss";
@import "@styles/theme.css";

.form {
    @apply w-full flex flex-col justify-around py-4 px-2;
    @apply bg-form rounded-lg shadow-md;
    @apply border-2 gap-2  border-input-border rounded-lg;
}


.fineprint {
  @apply text-small text-primary-dark text-center;
  @apply md:text-small;
  @apply lg:text-small;
}

.hiddenOnMobile {
    @apply hidden;
    @apply md:block;
    @apply lg:block;
}

.gridLayout {
    @apply grid grid-cols-1 gap-0.5;
    @apply md:grid-cols-12;
    @apply lg:grid-cols-12;
}

.spans2Columns {
    @apply md:col-span-2 lg:col-span-2;
}

.spans4Columns {
    @apply md:col-span-4 lg:col-span-4;
}

.tableHeading {
    @apply text-medium font-semibold text-secondary-dark bg-primary-dark p-1;
    @apply h-full flex items-end text-center justify-center;
    @apply md:text-medium md:font-semibold;
    @apply lg:text-medium lg:font-semibold;
}

.actionButton {
  @apply text-error-text hover:text-error-text/80 h-auto p-0;
  @apply transition-colors duration-200;
  @apply cursor-pointer bg-transparent border-0;
}

.actionButton:hover {
  @apply scale-110;
}

.tableCell {
    @apply flex items-center justify-center;
    @apply border border-input-border bg-white;
    @apply text-small;
    @apply md:text-medium md:min-h-12;
    @apply lg:text-medium lg:min-h-12;
}


/* Common for all elements in identity form */
.inputField,
.phoneInput,
.countryCodeSelect,
.phoneGroup {
  @apply text-normal!;
  @apply w-full bg-secondary-dark rounded-lg;
  @apply text-small transition-all duration-200 ease-in-out;
  @apply md:text-medium
}

/* padding x settings in identity form */
.inputField,
.phoneInput,
.countryCodeSelect {
  @apply px-1;
  @apply md:p-2;
}

.phoneGroup {
  @apply px-0;
}

/* Border, Focus and Height-Width settings in identity form */
.inputField,
.phoneGroup {
  @apply border border-input-border rounded-lg h-8;
  @apply md:h-12;
  @apply lg:h-12;
}

.inputField {
  @apply focus:border-3 focus:border-focus  focus:bg-primary focus:shadow;
}

.phoneGroup {
  @apply flex;
  @apply focus-within:border-3 focus-within:border-focus  focus-within:bg-primary focus-within:shadow;
}

.phoneInput,
.countryCodeSelect,
.noBorder {
  @apply w-full h-full border-0 border-none! bg-transparent;
}

.phoneInput:focus,
.countryCodeSelect:focus,
.noBorder:focus {
  @apply outline-none! border-none! shadow-none!;
}

.countryCodeSelect[data-length="1"] { width: 6ch; }
.countryCodeSelect[data-length="2"] { width: 7ch; }
.countryCodeSelect[data-length="3"] { width: 8ch; }
.countryCodeSelect[data-length="4"] { width: 9ch; }
.countryCodeSelect[data-length="5"] { width: 10ch; }


.noBorder:focus-within {
  @apply outline-none! border-none! shadow-none!;
}

.countryCodeSelect {
  @apply cursor-pointer;
}

.visibleOnMobile {
    @apply block;
    @apply md:hidden;
    @apply lg:hidden;
}

.memberCard {
  @apply border-2 border-input-border rounded-lg pt-2 bg-white;
  @apply shadow-sm;
}

.cardRow {
  @apply grid grid-cols-3 p-2 border-b border-input-border last:border-b-0;
  @apply items-center;
}

.cardRow > * {
  @apply w-full;
}

.cardLabel {
  @apply text-small font-semibold text-secondary;
  @apply md:text-medium;
}

.cardValue {
  @apply text-small text-secondary wrap-break-word col-span-2;
  @apply md:text-medium;
}

.cardRow .inputField,
.cardRow .phoneGroup,
.cardRow .checkboxLabel {
  @apply w-full col-span-2;
}

.cardRow .actionButton {
  @apply justify-self-start w-auto h-auto p-0;
}

.prevButton,
.nextButton {
  @apply w-full  mt-4 py-2 px-4;
  @apply bg-button  text-white font-medium rounded-lg shadow-md;
  @apply transition-all duration-200 ease-in-out;
  @apply md:col-span-3;
  @apply lg:col-span-3;
}

.nextButton {
  @apply md:col-start-10;
  @apply lg:col-start-10;
}