.navbar {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
    width: 100%;
    top: 0;
    position: sticky;
    position: -webkit-sticky; /* For Safari */  z-index: 50;
    border-bottom: 1px solid #e5e7eb;
    background-color: var(--minor-brand-bg);
    box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.navList {
    display: flex;
    margin: 0;
    padding: 0.5rem 0;
    gap: 1rem;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.activeLink,
.link {
  text-decoration: none;
  margin: 0;
  padding:0.5rem;
  display: block;
  cursor: pointer;
  color: var(--major-brand-bg);
  font-size: var(--text-small);
}

@media (min-width: 1024px) {
    .activeLink,
    .link {
        font-size: var(--text-regular);
        width: 8.5rem;
    }
}

.activeLink:hover,
.link:hover {
    color: var(--focus-border);
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdownMenu {
    display: block;
}

.dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--minor-brand-bg);
    border: 1px solid var(--major-brand-bg);
    box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    min-width: 8rem;
    z-index: 50;
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 1;
}

.dropdownMenu li {
    border-bottom: 1px solid var(--focus-border);
}

.dropdownMenu li:last-child {
    border-bottom: 0;
}

.dropdownMenu .link,
.dropdownMenu .activeLink {
    padding: 0.5rem;
    white-space: nowrap;
}

.dropdownMenu .link:hover,
.dropdownMenu .activeLink:hover {
    background-color: var(--normal-bg);
}

.menuText {
    margin-left: 0.5rem;
    display: none;
}

@media (min-width: 768px) {
  .menuText {
        display: inline;
  }
}

.buttonContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.langButton {
    border: none;
    height: 90%;
    cursor: pointer;
    background-color: #1c1c1c;
    width: 4rem;
    font-size: var(--text-small);
    color: var(--reverse-color);
    padding: 0.25rem;
}

.langButton:hover {
    border: none;
    background-color: #646cff;
}

.langButton:active {
    border: none;
    background-color: #1c1c1c;
}
