.innerBox {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: #ffffff;
  padding: 1.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.subtitle {
  font-size: var(--text-regular);
  font-weight: var(--font-semibold);
  color: var(--major-brand-bg);
  margin-top: 0.5rem;
  text-align: center;
  font-family: var(--font-tamil);
}

@media (min-width: 768px) {
  .subtitle {
    font-size: var(--text-subtitle);
  }
}

.title {
  margin-bottom: 0.5rem;
  font-size: var(--text-subtitle);
  font-weight: var(--font-bold);
  color: var(--major-brand-bg);
  text-align: center;
  font-family: var(--font-tamil);
}

@media (min-width: 768px) {
  .title {
    font-size: var(--text-title);
  }
}

.separator {
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
  border-top: 2px solid var(--major-brand-bg);
}

.subheading {
  font-size: var(--text-regular);
  font-weight: var(--font-semibold);
  color: var(--major-brand-bg);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-family: var(--font-tamil);
}

@media (min-width: 768px) {
  .subheading {
    font-size: var(--text-subtitle);
  }
}

.regularParagraph {
  margin-bottom: 1rem;
  font-size: var(--text-medium);
  color: #374151;
  font-family: var(--font-tamil);
}

@media (min-width: 768px) {
  .regularParagraph {
    font-size: var(--text-regular);
  }
}

.list {
  list-style-type: decimal;
  list-style-position: inside;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 1rem;
  font-family: var(--font-tamil);
}

@media (min-width: 768px) {
  .list {
    font-size: var(--text-regular);
  }
}

@media (min-width: 1024px) {
  .list {
    font-size: var(--text-regular);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.listitem {
  margin-bottom: 0.25rem;
  font-size: var(--text-medium);
  color: #374151;
  font-family: var(--font-tamil);
}

@media (min-width: 768px) {
  .listitem {
    font-size: var(--text-regular);
  }
}

.footnote {
  font-size: 0.75rem;
  color: #4b5563;
  margin-top: 1rem;
  font-family: var(--font-tamil);
}
